<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @doses.each do |dose| %>
    <%= simple_form_for([@cocktail, dose]) do |f|%>
      <h3><%= dose.ingredient.name.capitalize %></h3>
      <p><strong>Dose:</strong></p>
      <%= f.input :description, label: false, :input_html => { :style => "width: 200px;" } %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: "delete" %>
  <br>
  <%= link_to "Back to cocktails!", cocktails_path %>
</div>
